.card__motion-btn {
  padding: 0.75rem;
  margin: 0 4rem;
  border-radius: 50%;
  border: 3px solid var(--mainLigthSecond);
  background-color: var(--mainLigthSecond);
}
.card__motion-btn:hover {
  border: 3px solid var(--accentBlue);
  background-color: var(--accentBlue);
}
.card__motion-btn:active {
  border: 3px solid var(--accentBlueSecond);
  background-color: var(--accentBlueSecond);
}
.card__motion-btn:disabled {
  border: 3px solid var(--mainDark);
  background-color: var(--mainDark);
  opacity: 0.1;
}
