@import "../../colors.css";

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainDark);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  margin: 0;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__title h1 {
  font-size: 2.25rem;
  padding: 0;
  margin: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__title-link {
  text-decoration: none;
  color: var(--mainWhite);
}

.header__title-link:hover {
  background-color: var(--mainDark);
  opacity: 0.7;
}
