root,
header,
main,
footer {
  --mainDark: #111111;
  --mainLight: #dac2aa;
  --mainLigthSecond: #a6825e;
  --mainWhite: #ffffff;

  --accentOrange: #ff6b18;
  --accentOrangeSecond: #f14109;
  --accentBlue: #009fdf;
  --accentBlueSecond: #035a7c;
}
