root,
header,
main,
footer {
  --mainDark: #111111;
  --mainLight: #dac2aa;
  --mainWhite: #ffffff;

  --accentOrange: #ff6b18;
  --accentOrangeDark: #e35a0d;
  --accentBlue: #009fdf;
  --accentBlueDark: #035a7c;

  --cardManageBtn: #628aab;
  --cardManageBtnDisabled: #afc6d9;
  --cardManageBtnHover: #1a75c1;
  --cardManageBtnActive: #111111;
}
